@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <div class="slider">
        <h2 class="wow shake animated" data-wow-delay=".5s">Trip</h2>
        <div class="border"></div>
        <script src="~/web/js/jquery-1.11.1.min.js"></script>
        <script src="~/web/js/responsiveslides.min.js"></script>
        <script>
            $(function () {
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });
            });
        </script>
        <div id="top" class="callbacks_container-wrap">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-info">
                        <h3 class="wow fadeInRight animated" data-wow-delay=".5s">Lorem ipsum dolor sit amet</h3>
                        <p class="wow fadeInLeft animated" data-wow-delay=".5s">Curabitur eget metus eget erat vehicula semper vitae sed leo</p>
                        <div class="more-button wow fadeInRight animated" data-wow-delay=".5s">
                            <a href="single.html">Click Here	</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info">
                        <h3>Consectetur adipiscing elit</h3>
                        <p>Quisque nisl risus, egestas in convallis vitae, fringilla cursus magna</p>
                        <div class="more-button">
                            <a href="single.html">Read More	</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info">
                        <h3>Proin eget consequat ante	</h3>
                        <p> Suspendisse bibendum dictum metus, at finibus elit dignissim nec	</p>
                        <div class="more-button">
                            <a href="single.html">Click Here	</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>